#d1{
    padding: 2px;
    border: solid brown 2px;
    margin: 10px;
    width: 1300px;
    height: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}
h2{
    color: darkblue;
    text-align: center;
    
}
h1{
    background-color: darkorange;
    text-align: center;
}
h3{
    text-align: right;
    padding: 10px;
    
}
